<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/ extras/spring-security">
<head>
    <meta charset="UTF-8"></meta>
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <title>Spring Boot Journal</title>
    <p sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    </p>
    <p sec:authorize="!isAuthenticated()">
    <form th:action="@{/login}" method="post" style="margin-bottom: 10px; margin-left: 10px">
        <input type="submit" value="Sign In"/>
    </form>
    <form th:action="@{/registration}" method="post" style="margin-left: 10px">
        <input type="submit" value="Registration"/>
    </form>
    </p>
    <link rel="stylesheet" type="text/css" media="all" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="css/styles.css"/>
</head>
<body>
<div class="container">
    <h1>Spring Boot Journal</h1>
    <ul class="timeline">
        <div th:each="entry,status:${journal}">
            <li th:attr="class=${status.odd}?'timeline-inverted':''">
                <div class="tl-circ"></div>
                <div class="timeline-panel">
                    <div class="tl-heading">
                        <h4><span th:text="${entry.title}">TITLE</span></h4>
                        <p>
                            <small class="text-muted"><i class="glyphicon glyphicon-time"></i> <span
                                    th:text="${entry.createdAsShort}">CREATED</span></small>
                        </p>
                    </div>
                    <div class="tl-body">
                        <p><span th:text="${entry.summary}">SUMMARY</span></p>
                    </div>
                </div>
            </li>
        </div>
    </ul>
</div>
</body>
</html>